<li class="solution">
  <span class="content"><%= solution.move_string %></span>
  <span class="timestamp">
    by <%= link_to "#{solution.user.first} #{solution.user.last}", solution.user %> - <%= time_ago_in_words(solution.created_at) %> ago
  </span>
  <% if current_user?(solution.user) %>
    <%= link_to "delete", solution, method: :delete,
                                    data: { confirm: "you sure?" },
                                    title: solution.move_string %>
  <% end %>
</li>