<footer class="footer">
  <small>
    Check out
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/">Rails Tutorial News</a></li>
    </ul>
  </nav>
</footer>